@page
@model Ecommerce.Areas.Identity.Pages.Account.RegisterSprovider
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.CategoryId"></label>
                <select asp-for="Input.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Input.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.CompanyName"></label>
                <input asp-for="Input.CompanyName" class="form-control" />
                <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NationalId"></label>
                <input asp-for="Input.NationalId" class="form-control" />
                <span asp-validation-for="Input.NationalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.City"></label>
                <input asp-for="Input.City" class="form-control" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address"></label>
                <input asp-for="Input.Address" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.HomeLocation"></label>
                <input asp-for="Input.HomeLocation" class="form-control" />
                <span asp-validation-for="Input.HomeLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.BirthDate"></label>
                <input asp-for="Input.BirthDate" class="form-control" />
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Gender"></label>
                <select asp-for="Input.Gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Upload Image</label>
                <input asp-for="Input.Image" type="file" class="form-control image" />
                <span asp-validation-for="Input.Image" class="text-danger"></span>
                <br />
                <div style="width:160px; height:160px;" class="table table-bordered">
                    <img src="" class=" img img-thumbnail" style="visibility:hidden; width:160px; height:160px;" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="~/js/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("input").change(function (e) {
            for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
                var file = e.originalEvent.srcElement.files[i];
                var reader = new FileReader();
                reader.onloadend = function () {
                    $('.img').css({ "visibility": "visible" });
                    $('.img').css({ "display": "block" });
                    $('.img').attr("src", reader.result);
                }
                reader.readAsDataURL(file);
                $("input").after(img);
            }
        });
    });
</script>
